In [101]:
row = 6

for i in range(6) :
    for j in range(1,i+1) :
        
        print(j, end = '')
    print()

1
12
123
1234
12345

In [1]:
row  = 6

for i in range (6) :
    for j in range(i) :
        print(i,end = '')
    print()

1
22
333
4444
55555

In [47]:
rows = 5

for i in range(6):
    for j in range(i,0,-1):
        print(j,end = '')
    print()

1
21
321
4321
54321

In [12]:
rows = 5
b = 0
for i in range(5, 0, -1):
    b += 1
    for j in range(1, i + 1):
        print(b, end=' ')
    print('\r')

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [11]:
rows = 5
b = 0
for i in range(5, 0, -1):
    b += 1
    for j in range(1, i + 1):
        print(j, end=' ')
    print('\r')

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [35]:
rows = 5

for i in range(5,0,-1):
    for j in range (1, i+1):
        print(i,end = '')
    print()

55555
4444
333
22
1

In [9]:
rows = 5

for i in range(5,0,-1) :
    for j in range (1,i+1) :
        print(rows, end = '')
    print()

55555
5555
555
55
5

In [17]:
rows = 5

for i in range(5,0,-1) :
    for j in range(0,i+1) :
        print(j, end = '')
    print()

012345
01234
0123
012
01

In [31]:
rows = 5
i = 1
while i <= rows:
    j = 1
    while j <= i:
        print((i * 2 - 1), end=" ")
        j = j + 1
    i = i + 1
    print('')

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [73]:
start = 1
stop = 2
num = 2

for i in range(2,6) :
    for j in range(start,stop) :
        num -= 1
        print(num, end = '')
    print()
    
    start = stop
    stop += i
    num = stop

1
32
654
10987

In [37]:
rows = 6

for i in range(1,rows) :
    num = 1
    for j in range(rows,0,-1) :
        if j > i :
            print(' ', end = ' ')
        else :
            print(num, end = ' ')
            num += 1
    print()

          1
        1 2
      1 2 3
    1 2 3 4
  1 2 3 4 5

In [28]:
rows = 6 

for i in range(1,rows) :
    for j in range(1,rows):
        
        if j<=i :
            
            print('*',end='')
            
        else:
            print('*', end = '') 
    print()

*****
*****
*****
*****
*****

In [40]:
rows = 6

for i in range(1,rows) :
    
    for j in range(rows,0,-1) :
        if j > i :
            print(' ', end = ' ')
        else :
            print('*', end = ' ')
            
    print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [42]:
rows = 6

for i in range(rows):
    for j in range(i):
        print('*', end = ' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [44]:
rows = 6

for i in range(rows,0,-1):
    
    for j in range(i):
        print('*',  end = ' ')
    print()

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [57]:
rows = 6

for i in range(rows,0,-1):
    
    for j in range(1,i):
        print('*',  end = ' ')
    print()

for i in range(rows):
    for j in range(i):
        print('*', end = ' ')
    print()

* * * * *
* * * *
* * *
* *
*


*
* *
* * *
* * * *
* * * * *

In [89]:
rows = 6

for i in range(rows):
    for j in range(i):
        print('*', end = ' ')
    print()
    


for i in range(rows,0,-1):
    for j in range(i):
        print('*', end = ' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [20]:
rows = 5
i = rows
while i >= 1:
    j = rows
    while j > i:
        
        print(' ', end=' ')
        j -= 1
    k = 1
    while k <= i:
        print(k, end=' ')
        k += 1
    print()
    i -= 1

1 2 3 4 5
  1 2 3 4
    1 2 3
      1 2
        1

In [21]:
rows = 6

for i in range(rows,0,-1):
    num = 1
    for j in range(rows):
        if j < i :
            print(' ', end = ' ')
        else :
            print(num, end = ' ')
            num += 1
    print()

          1
        1 2
      1 2 3
    1 2 3 4
  1 2 3 4 5

In [76]:
n=10
for i in range(n):
    print(' '*n, end=' ')
    print('1 '*(i)) 
    n-=1

          1
         1 1
        1 1 1
       1 1 1 1
      1 1 1 1 1
     1 1 1 1 1 1
    1 1 1 1 1 1 1
   1 1 1 1 1 1 1 1
  1 1 1 1 1 1 1 1 1

In [80]:
rows = 10

for i in range(rows, 1, -1):
    
    for space in range(0, rows-i):
        print("  ", end="")
        
    for j in range(i, 2*i-1):
        print("* ", end="")
        
    for j in range(1, i-1):
        print("* ", end="")
    print()

* * * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * *
    * * * * * * * * * * * * *
      * * * * * * * * * * *
        * * * * * * * * *
          * * * * * * *
            * * * * *
              * * *
                *